body{
    background-color:rgb(29,35,31) !important;
    color: white !important;
    overflow-x: hidden;
}
@keyframes down {
    from{margin-top: -100px;opacity: 0;}
    to{margin-top: 0px;opacity: 1;}
}
.mod{
    position: fixed;
    top: 100px;
    // width: 300px !important;
    height: 200px;
    padding: 20px;
    background-color: green;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: outset 5px;
    z-index: 9;
    animation: down 2s;

    h3{
        text-align: center;
        font-weight: bold;
    }

    button{
        border-radius: 20px;
        padding: 5px;
        width: 100px;
        cursor: pointer;
        transition: all 0.5s;
        border: outset;
        font-weight: bold;
    }
    button:hover{
        background-color: gray;
    }
}

.advogado{
    border: outset 5px;
    border-radius: 20px;
    position: fixed;
    top: 5vh;
    left: 10vw;
    background-color: rgb(0, 26, 0);
    height: 500px;
    overflow-y: scroll;
    padding: 0px !important;
    display: none;
    flex-direction: row;
    z-index: 99;
    
    img{
        width: 40%;
        height: inherit;
        object-fit: cover;
    }
    div{
        padding: 20px;

        h1{
            text-decoration: underline;
            text-align: center;
        }
        h4{
            text-align: center;
        }

        .contatos{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 80%;
          margin: 70px auto;
          
          img{
            width: 60px;
            height: 60px;
            padding: 10px;
            border-radius: 10px;
            background-color: chartreuse;
            cursor: pointer;
            transition: all 0.5s;
            margin: 5px;
          }
          img:hover{
            scale: 1.1;
            transform: rotateZ(15deg);
          }
        }
    }
}
@media (max-width: 700px) {
    .advogado{
      left: 0px;
    }
}
.fechaAdvogado{
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: red;
  border-radius: 50%;
  padding: 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
}
.fechaAdvogado:hover{
  scale: 1.1;
}

@media (max-width: 800px) {
    .advogado{
        flex-direction: column;

        img{
            width: 100%;
            height: 300px;
        }
    }
}
header{
    background-image: url(img/backgound\ desfocado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 120px;
    overflow: hidden;

    .logo{
        position: absolute;
        top: -170px;
        left: 0px;
        width: 300px;
        object-fit: contain;       
    }

    @keyframes left {
        from{margin-right: 100px; opacity: 0;}
        to{margin-right: 0px; opacity: 1;}
    }
    @keyframes right {
        from{margin-left: 100px; opacity: 0;}
        to{margin-left: 0px; opacity: 1;}
    }

    img{
        height: 500px;
        object-fit: contain;
        // animation: left 1s ease-in-out;
    }

    div{
        // animation: right 1s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: solid;
        height: fit-content;
        padding-bottom: 50px;

        h1{
            text-align: center;
            color: chartreuse;
        }
        h4{
            text-align: center;
            margin: 50px;
        }
        a{
            text-decoration: none;
            color: black;
            background-color: chartreuse;
            padding: 10px;
            border-radius: 20px;
            font-weight: bold;
            transition: all 0.5s;
        }
        a:hover{
            padding: 10px 30px;
        }
    }

}
@media (max-width: 800px) {
    header{
        height: auto;

    }
}
@keyframes up {
    from{margin-top: 170px; opacity: 0;}
    to{margin-top: 100px; opacity: 1;}
}
@keyframes up2 {
    from{margin-top: 300px; opacity: 0;}
   to{margin-top: 250px; opacity: 1;}
}
@keyframes upAdvogado {
    from{margin-top: 100px; opacity: 0;}
   to{margin-top: 30px; opacity: 1;}
}
@keyframes popup {
    0%{scale: 0.9;}
    50%{scale: 1.1;}
    100%{scale: 1;}
}
main{
    section{
        height: 100vh;
    }
    
    section:nth-of-type(1){
        display: flex;
        background-image: url(img/doenças-seculo-21.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        span{
            text-decoration: underline;
            color: chartreuse;
        }


        h3{
            margin: 100px 0;
            text-align: center;
            // animation: up 1s ease-in-out;
        }
        h1{
            margin: 250px 0;
            text-align: center;
            // animation: up2 2s ease-in-out;
        }
    }

    section:nth-of-type(2){
        h1{
          margin: 100px 0 0 0;
            text-align: center;
        }

        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 30px 0;

            .casos{
                // animation: popup 0.5s;
                margin: 20px;
                height: fit-content;
                transition: all 0.5s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                img{
                    border-radius: 20px;
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                    transition: all 0.5s;
                }
                p{
                    text-align: center;
                    font-size: 20px;
                }
            }
            .casos:hover{
                scale: 1.05;
                img{
                    border-radius: 0px;
                }
        }
        }
    }
    @media (max-width: 660px) {
        section:nth-of-type(2){
            height: auto;
        }
    }

    section:nth-of-type(3){
        border-top: groove 5px;
        display: flex;
        
        h1{
            margin-top: 200px;
            text-align: center;
        }
        
        div{
            display: flex;
            flex-wrap: wrap;

            div{
                margin-top: 30px;
                height: fit-content;
                transition: all 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                img{
                    cursor: pointer;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    transition: all 0.5s;
                }
                p{
                    text-align: center;
                    font-size: 25px;
                }
                .profissao{
                  font-size: 15px;
                }
            }
            img:hover{
                scale: 1.05;
                border-radius: 30%;
            }
        }
    }
}
@media (max-width: 700px) {
    section:nth-of-type(3){
        height: auto;
    }
}

footer{
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: 20px;
        text-align: center;
    }
}